# This file is a "template" of what your parameters.yml file should look like
parameters:
    secret: YourSecretPassPhrase
    twitter.baseurl: https://api.twitter.com/1.1
    twitter.config:
        consumer_key: ***
        consumer_secret: ***
        token: ***
        token_secret: ***
